<div class="canvas">
  <div class="row">
    <div class="col-sm-12">

      <div id="graph-canvas"></div>

    </div>
    <div class="col-sm-12">
      <%= link_to devices_history_path do %>
        <button type="button" class="btn btn-theme" name="button">Histórico</button>
      <% end %>
    </div>
  </div>
</div>
