<div class="canvas">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="device-canvas">
        <div class="tank_info"></div>
        <div class="tank">
          <div class="water"></div>
        </div>
        <button class="btn btn-primary" type="button" name="button" onclick="deviceInfo(this)">Voltar</button>
      </div>

      <div class="devices-canvas">

        <div class="box-devices">
          <% @devices.each_with_index do |l, i| %>

            <div class="water-device" id="device-<%= l.id %>" onclick="deviceInfo(this)"></div>

            <% if (i !=0 && i % 3) == 0 %>
              </div>
              <div class="bar" style="margin-bottom: 4px"></div>
              <div class="box-devices">
            <% end %>

          <% end %>
        </div>

        <div class="water-device-info"></div>
        <%= hidden_field_tag :hidden_id, @devices.first.user.id %>

      </div>

    </div>
  </div>
</div>
