<div class="canvas">
  <div class="col-sm-4">
    <div class="temperature" id="device-<%= device.id %>-temperature">Temperatura:</div>
    <div class="temperature" id="device-<%= device.id %>-humidity">Umidade:</div>
    <div class="temperature" id="device-<%= device.id %>-luminosity">Luminosidade</div>
    <div class="temperature" id="device-<%= device.id %>-atm_pressure">Pressão Atmosférica:</div>
  </div>
</div>
