<div class="canvas">
  <div class="col-sm-4">
    <div class="temperature" id="device-<%= device.id %>-temperature">Temperature</div>
    <div class="temperature" id="device-<%= device.id %>-humidity">Humidity</div>
    <div class="temperature" id="device-<%= device.id %>-luminosity">Luminosity</div>
    <div class="temperature" id="device-<%= device.id %>-atm_pressure">Atm Pressure</div>
  </div>
</div>
