<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <div class="row">
      <div class="col-sm-6">
        <%= link_to level_monitoring_path do %>
          <div class="menu-container">
            <div class="menu-label">Monitoramento de Nível</div>
            <i class="fas fa-tint"></i>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= link_to weather_monitoring_path do %>
          <div class="menu-container">
            <div class="menu-label">Monitoramento Meteorológico</div>
            <i class="fas fa-sun"></i>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
