<% @devices.each do |device| %>
  <div class="row">
    <div class="box">
      <div class="col-sm-12">
        <%= render partial: "weather_infos", locals: {device: device} %>
      </div>
    </div>
  </div>
<% end %>

<div class="box-zoom">
  <div id="graph-canvas"></div>
  <button type="button" class="btn btn-theme" name="button" onclick="goBack()">Voltar</button>
</div>
