<div class="contact-block">
  <p><h2>LCA Systems</h2></p>
  <p><a href="tel:61992015874">(61) 99201-5874</a></p>
  <div class="bar"></div>
  <p><h3>CLN 111 Bloco C Sala 113 - Edifício Bougainville - Brasília/DF</h3></p>
  <p><h4>CEP 70754-530</h4></p>
  <p>Ligações de segunda a sexta: 9h às 17h</p>
  <p>Consulte disponibilidade para visitas</p>
</div>
