/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-toggle
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  color: #f1f5ff;
  background-color: #121722;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  padding-top: 60px;
  padding-bottom: 16px;
}

@media (max-width: 412px) {
  .control-label, .form-control {
    font-size: 90% !important;
  }
  .btn {
    font-size: 95% !important;
  }
  #btn-login {
    font-size: 15% !important;
  }
  body {
    font-size: 110%;
  }
  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 160%;
  }
  h4 {
    font-size: 120%;
  }
}

 .brand_logo {
   height: 100%;
 }

 @media (min-width: 768px) {
   .group {
     margin-bottom: 50px !important;
   }
 }

 .logo {
   width: 100%;
   padding: 30px;
 }

 .navbar-default {
 	background-color: #0a0f15;
  border-color: #03080e;
 }

 .navbar-default .navbar-nav > li > a,,
 .navbar-default .navbar-nav > li > a:focus {
   color: #fff;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:hover {
   color: #ead26e;
   background-color: #101520;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
  color: #101520;
  background-color: #ead26e;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
   color: #ead26e;
   background-color: #101520;
 }

 .dropdown-menu {
   border: 1px solid #03080e;
   background-color: #0a0f15;
 }

 .dropdown-menu > li > a {
   color: #036ab7;
 }

 .dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
   color: #ead26e !important;
 }

 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
   color: #fff;
   background-color: #0a0f15;
 }

 .navbar-default .navbar-toggle {
   border: none;
 }

 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
   background-color: #0a0f15;
 }

 .navbar-default .navbar-toggle .icon-bar {
   color: #eef;
   background-color: #eef;
 }

 .navbar-toggle:hover .icon-bar,
 .navbar-toggle:focus .icon-bar {
    background-color: #ead26e;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    transition: background-color 0.3s linear;
}

 .navbar-default .navbar-collapse,
 .navbar-default .navbar-form {
   border-color: #03080e;
 }

 // ***********************************************

 @media (max-width: 412px) {
   .list-container {
     font-size: 95% !important;
   }
   .list-model-type {
     font-size: 160% !important;
   }
   .add-item {
     font-size: 130% !important;
   }
   .item-name {
     font-size: 125% !important;
   }
   .btn.delete-item, .btn.show-item, .btn.edit-item,
   .btn.delete-item:focus, .btn.show-item:focus, .btn.edit-item:focus,
   .btn.delete-item:active, .btn.show-item:active, .btn.edit-item:active {
     font-size: 130% !important;
   }
 }

 .list-container {
   overflow: auto;
   min-height: 260px;
   color: #323742;
   border:1px solid #03080e !important;
   border-radius: 2px;
   margin-bottom: 20px;
   background-color: #0a0f15;
 }
 .list-model-type {
   line-height: 60px;
   background-color: #ead26e;
   height: 60px;
   color: #101520;
   font-size: 24px;
   padding: 0 20px 0 20px;
   border-radius: 2px 2px 0 0;
 }

 .model-type {
   text-align: left;
 }
 .model-add {
   text-align: right;
 }

 .add-item, .add-item:active, .add-item:focus, {
   color: #101520;
   background-color: #ead26e;
   border:1px solid #101520 !important;
   border-radius: 5px;
   padding: 0 12px 0 12px;
   font-size: 30px;
 }
 .add-item:hover {
   color: #101520;
   background-color: #cab24e;
 }
 .list-items {
   padding: 10px;
 }

.item {

}
 .item-name {
   color: #f1f5ff;
   text-align: left;
   font-size: 18px;
 }
 .item-description {
   color: #808595;
   text-align: left;
 }
 .item-action {
   text-align: right;
 }
 .delete-item, .delete-item:focus, .delete-item:active {
   color: #ea2020 !important;
   font-size: 18px !important;
   border-color: #03080e !important;
   background-color: #323742 !important;
 }
 .delete-item:hover {
   background-color: #222732 !important;
 }
 .show-item, .show-item:focus, .show-item:active {
   color: #25f580 !important;
   font-size: 18px !important;
   border-color: #03080e !important;
   background-color: #323742 !important;
 }
 .show-item:hover {
   background-color: #222732 !important;
 }
 .edit-item, .edit-item:focus, .edit-item:active {
   color: #05aaf5 !important;
   font-size: 18px !important;
   border-color: #03080e !important;
   background-color: #323742 !important;
 }
 .edit-item:hover {
   background-color: #222732 !important;
 }
 .bar {
   display: inline-block;
   height: 2px;
   background-color: #32374a;
   width: 100%;
 }

 input[type=email], input[type=text], input[type=tel], textarea, input[type=password], input[type=checkbox], select {
   background-color: #121722 !important;
   border-color: #03080e !important;
   color: #f1f5ff !important;
 }

 .control-label {
   color: #ead26e;
 }

 .btn-theme {
   background-color: #ead26e;
   color: #101520;
   border-color: #cab24e;
 }

 .toggle-on {
   background-color: #ead26e !important;
   border-color: #03080e !important;
   color: #101520 !important;
 }

 .toggle-on:hover {
   background-color: #cab24e !important;
 }

 .toggle-off {
   background-color: #121722 !important;
   border-color: #03080e !important;
   color: #f1f5ff !important;
 }

 .toggle-off:hover {
   background-color: #131628 !important;
 }

 .btn-theme:hover, .btn-theme:active, .btn-theme:focus {
   background-color: #cab24e !important;
   color: #101520 !important;
   border-color: #cab24e !important;
 }

 a[href^="tel:"] {
  color: #D9C958;
  text-decoration: none;
}

a[href^="tel:"]:hover {
 color: #E99938;
 text-decoration: none;
}
