// Place all the styles related to the monitoring controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box-devices {
	display: flex;
	justify-content: center;
	// border-bottom: 2px solid #ddd;
}

.water-device-info {
	margin-top: 20px;
	background-color: #f8f8fa;
	padding: 10px;
	border:1px solid #c0c0cf;
	border-radius: 2px;
	box-shadow: 0px 0px 6px #ccc;
	display: none;
}

.box {
	overflow: auto;
	background-color: #0a0f15;
	padding: 10px;
	margin-bottom: 10px;
  border:1px solid #03080e !important;
  border-radius: 2px;
}

.canvas {
	background-color: #0a0f15;
	padding: 10px;
	margin-bottom: 10px;
  border:1px solid #03080e !important;
  border-radius: 2px;
}

@media ( min-width: 768px) {
	.canvas {
		min-height: 85vh;
	}
}

@media (max-width: 767px) {
	.water-device {
		width: 100%;
		box-shadow: 0px 0px 2px #888;
		margin: auto;
		min-height: 9vw;
		border-radius: 12%;
		line-height: 9vw;
	}
	.device {
		margin: auto;
		width: 14%;
		line-height: 5vw;
	}
	.device-name {
		margin-top: 10px;
		width: 50%;
		background-color: rgba(0, 0, 0, 0.85);
		border:1px solid #32374a;
		border-radius: 2px;
		font-size: 15px;
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.water-device {
		box-shadow: 0px 0px 2px #888;
		width: 100%;
		margin: auto;
		min-height: 3vw;
		border-radius: 12%;
		font-size: 17px;
		// display: -webkit-box;
		display: block;
		line-height: 3vw;
	}
	.device {
		margin: auto;
		width: 12%;
		line-height: 2vw;
	}
	.device-name {
		margin-top: 10px;
		width: 50%;
		background-color: rgba(0, 0, 0, 0.85);
		border:1px solid #32374a;
		border-radius: 2px;
		font-size: 19px;
		display: inline-block;
	}
}

// ********************************
// Device Focus
// ********************************

.tank-info {
	display: none;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 10px;
	border:1px solid #32374a;
	border-radius: 2px;
}

.tank-info-canvas {
	min-height: 110px;
}

.water-device-info {
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 10px;
	border:1px solid #32374a;
	border-radius: 2px;
	display: none;
}

@media (min-width: 768px) {
	.tank {
		margin: 30px auto;
	  height: 22vw;
		width: 85%;
	  position: relative;
	  border-style: solid solid solid solid;
	  border-width: 8px;
		border-color: #323742;
		border-radius: 5%;
		overflow: hidden;
	}

	.water {
	  width: 100%;
	  height: 0%;
	  background-color: #95dcef;
	  position: absolute;
	  bottom: 0;
		opacity: 0.8;
	}
	.device-canvas {
		display: none;
	  padding: 6%;
	}
}

@media (max-width: 767px) {
  .tank {
  		margin: 30px auto;
      height:50vw;
			width: 85%;
      position: relative;
      border-style: solid solid solid solid;
      border-width: 8px;
      border-color: #323742;
      border-radius: 5%;
			overflow: hidden;
  }

  .water {
      width: 100%;
      height: 0%;
      background-color: #95dcef;
      position: absolute;
      bottom: 0;
  		opacity: 0.8;
  }
	.device-canvas {
		display: none;
	  padding: 10%;
	}
}

.devices-canvas, .graph-canvas {
	display: block;
  padding: 10%;
}

// ***************************
// Devices Colors
// ***************************

.full {
	background-color: #25f580;
	opacity: 0.8;
	color: #fff;
}

.full:hover {
	background-color: #10e06a;
	cursor: pointer;
}

.full-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #2585f0;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.medium {
	background-color: #f5e83f;
	opacity: 0.8;
	color: #fff;
}

.medium:hover {
	background-color: #d5c80a;
	cursor: pointer;
}

.medium-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #f0ca30;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.low {
	background-color: #ea2020;
	opacity: 0.8;
	color: #fff;
}

.low:hover {
	background-color: #d00000;
	cursor: pointer;
}

.low-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #ea2020;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.empty {
	background-color: #fafafa;
	border: 1px solid #889;
	opacity: 0.7;
	color: #ea2020;
}

.empty:hover {
	background-color: #dadada;
	border: 1px solid #889;
	opacity: 0.7;
	cursor: pointer;
}

.empty-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #fafafa;
	border: 1px solid #889;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.sub {
	text-align: left;
	margin-left: 10px;
	margin-top: 4px;
}

#graph-canvas {
	margin-top: 26px;
	width: 100%;
}

#loading {
	margin:60px;
	line-height: 60px;
	font-size: 20px;
}

#history {
	min-height: 80vh;
}
