// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-container {
  font-size: 120px;
  line-height: 90px;
  min-height: 260px;
  color: #f1f5ff;
  border: 1px solid #03080e !important;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #0a0f15;
}

.index-container {
  font-size: 120px;
  color: #f1f5ff;
  border: 1px solid #03080e !important;
  border-radius: 2px;
  background-color: #0a0f15;
  min-height: -webkit-fill-available;
}

.full-screen-container {
  padding: 30px;
  color: #f1f5ff;
  border: 1px solid #03080e !important;
  border-radius: 2px;
  background-color: #0a0f15;
  min-height: -webkit-fill-available;
}

.solutions-container {
  color: #f1f5ff;
  border: 1px solid #03080e !important;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #0a0f15;
}

.solution-img-container {
  padding: 10%;
}
.solution-img {
  width: 100%;
  border:3px solid #ddd !important;
  border-radius: 50%;
}

.solution-description {
  text-align: center;
  padding: 0 24px 0 24px;
}

.solution-name {
  color: #ead26e;
}

.menu-container:hover {
  color: #ead26e;
  text-decoration: none;
}

.menu-label {
  font-size: 18px;
}

.index-label {
  color: #f1f5ff;
  font-size: 18px;
  padding: 16px;
}

a:hover {
    text-decoration: none !important;
}

.default-container {
  padding: 30px;
  min-height: 260px;
  color: #f1f5ff;
  border: 1px solid #03080e !important;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #0a0f15;
}
