<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-12">
          <div class="full-screen-container index-container">
            <!-- Logo -->
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <% if current_theme == 'dark_theme/application'  %>
                  <%= image_tag 'logo_dark.png', class: 'logo' %>
                <% else %>
                  <%= image_tag 'logo_white.png', class: 'logo' %>
                <% end %>
              </div>
            </div>
            <!--  ------>
            <div class="row">
              <div class="col-sm-12">
                <div class="index-label">Sistemas Integrados de Monitoramento e Automação</div>
                <div class="index-label">Inteligente e Simples</div>
              </div>
            </div>
            <div class="row">
              <%= link_to new_user_session_path do %>
                <button type="button" name="button" class="btn-theme btn" id="btn-login">Entrar</button>
              <% end %>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
