<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    
    <div class="row">
      <div class="col-sm-6">
        <%= link_to root_path do %>
          <div class="menu_container">
            <div class="menu_label">Monitoramento</div>
            <i class="fa fa-bar-chart"></i>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= link_to root_path do %>
          <div class="menu_container">
            <div class="menu_label">Configurações</div>
            <i class="fa fa-cog"></i>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="menu_container">
          
        </div>
      </div>
      <div class="col-sm-6">
        <div class="menu_container">
          
        </div>
      </div>
    </div>
    
  </div>
</div>
