<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-12">
          <div class="full-screen-container">
            <div class="menu-label">Sistemas Integrados de Monitoramento e Automação</div>
            <div class="menu-label">Inteligente e Simples</div>
          </div>
      </div>
    </div>

  </div>
</div>
