<div class="row">
  <div class="col-sm-12">

    <div class="solutions-container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <div class="solution-img-container">
                        <%= image_tag "datacenter.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <h3 class="solution-name">Data Centers</h3>
                  <div class="solution-description">
                    Soluções de monitoramento, auditorias, eficiência energética,
                    manutenção de subsistemas e facilities.
                  </div>
                  <div class="bar"></div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <div class="solution-img-container">
                        <%= image_tag "refrigeration.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3 class="solution-name">Refrigeração</h3>
                  </div>
                  <div class="solution-description">
                    Monitoramento de câmaras frias, manutenção e instalação de máquinas e sistemas de refrigeração.
                  </div>
                  <div class="bar"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <div class="solution-img-container">
                        <%= image_tag "projects.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3 class="solution-name">Núvem</h3>
                  </div>
                  <div class="solution-description">
                    Serviços em núvem para sistemas de monitoramento e automação.
                  </div>
                  <div class="bar"></div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <div class="solution-img-container">
                        <%= image_tag "condominium.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3 class="solution-name">Condomínios</h3>
                  </div>
                  <div class="solution-description">
                    Soluções de monitoramento de reservatórios, alarmes e automação.
                  </div>
                  <div class="bar"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
