/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-toggle
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  color: #111;
  background-color: #eaedf0;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  padding-top: 60px;
}

 .brand_logo {
   height: 100%;
 }

 @media (min-width: 768px) {
   .group {
     margin-bottom: 50px !important;
   }
 }

 .logo {
   width: 100%;
   padding: 30px;
 }

 .navbar-default {
 	background-color: #eaedf0;
  border-color: #dadde5;
 }

 .navbar-default .navbar-nav > li > a,,
 .navbar-default .navbar-nav > li > a:focus {
   color: #233a67;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:hover {
   color: #233a67;
   background-color: #dadde5;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
  color: #233a67;
  background-color: #c5c8d5;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
   color: #233a67;
   background-color: #dadde5;
 }

 .dropdown-menu {
   border: 1px solid #dadde5;
   background-color: #eaedf0;
 }

 .dropdown-menu > li > a {
   color: #233a67;
 }

 .dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
   color: #536a97 !important;
 }

 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
   color: #233a67;
   background-color: #eaedf0;
 }

 .navbar-default .navbar-toggle {
   border: none;
 }

 .navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
   background-color: #eaedf0;
 }

 .navbar-default .navbar-toggle .icon-bar {
   color: #c5c8d5;
   background-color: #c5c8d5;
 }

 .navbar-toggle:hover .icon-bar,
 .navbar-toggle:focus .icon-bar {
    background-color: #233a67;
    -webkit-transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    transition: background-color 0.4s linear;
}

 .navbar-default .navbar-collapse,
 .navbar-default .navbar-form {
   border-color: #dadde5;
 }

 // ***********************************************

 .list-container {
   overflow: auto;
   min-height: 260px;
   color: #233a67;
   border:1px solid #dadde5 !important;
   border-radius: 2px;
   margin-bottom: 20px;
   background-color: #f8f8f8;
 }
 .list-model-type {
   line-height: 60px;
   background-color: #dadde5;
   height: 60px;
   color: #233a67;
   font-size: 24px;
   padding: 0 20px 0 20px;
   border-radius: 2px 2px 0 0;
 }

 .model-type {
   text-align: left;
 }
 .model-add {
   text-align: right;
 }

 .add-item, .add-item:active, .add-item:focus, {
   color: #233a67;
   background-color: #dadde5;
   border:1px solid #233a67 !important;
   border-radius: 5px;
   padding: 0 12px 0 12px;
   font-size: 30px;
 }
 .add-item:hover {
   color: #233a67;
   background-color: #c5c8d5;
 }
 .list-items {
   padding: 10px;
 }

.item {

}
 .item-name {
   text-align: left;
   font-size: 18px;
 }
 .item-description {
   color: #c5c8d5;
   text-align: left;
 }
 .item-action {
   text-align: right;
 }
 .delete-item, .delete-item:focus, .delete-item:active {
   color: #d57 !important;
   font-size: 18px !important;
   border-color: #dadde5 !important;
   background-color: #fff !important;
 }
 .delete-item:hover {
   color: #d57 !important;
   border-color: #d57 !important;
   background-color: #fffafa !important;
 }
 .show-item, .show-item:focus, .show-item:active {
   color: #5b7 !important;
   font-size: 18px !important;
   border-color: #dadde5 !important;
   background-color: #fff !important;
 }
 .show-item:hover {
   color: #5b7 !important;
   border-color: #5b7 !important;
   background-color: #fafffa !important;
 }
 .edit-item, .edit-item:focus, .edit-item:active {
   color: #57d !important;
   font-size: 18px !important;
   border-color: #dadde5 !important;
   background-color: #fff !important;
 }
 .edit-item:hover {
   color: #57d !important;
   border-color: #57d !important;
   background-color: #f7f7ff !important;
 }
 .bar {
   display: inline-block;
   height: 2px;
   background-color: #eaedf0;
   width: 100%;
 }

 input[type=email], input[type=text], input[type=tel], textarea, input[type=password], input[type=checkbox], select {
   border-color: #dadde5 !important;
 }

 .btn-theme {
   background-color: #fff !important;
   color: #333 !important;
   border-color: #dadde5 !important;
 }

 .btn-theme:hover, .btn-theme:active, .btn-theme:focus {
   background-color: #eaedf0 !important;
 }
