// Place all the styles related to the devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.serial-error {
  color: #d55;
}

.form-dimension {
  display: none;
}

#detail-registration {
  display: none;
}

.registering-serial {
  color: #00d070;
}
