// Place all the styles related to the monitoring controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box-devices {
	display: flex;
	justify-content: center;
	// border-bottom: 2px solid #ddd;
}

.water-device-info {
	margin-top: 20px;
	background-color: rgba(245, 245, 245, 0.5);
	padding: 10px;
	border:1px solid #dadde5;
	border-radius: 2px;
	display: none;
}

.box {
	overflow: auto;
	background-color: #f8f8f8;
	padding: 10px;
	margin-bottom: 10px;
  border:1px solid #dadde5 !important;
  border-radius: 2px;
}

.canvas {
	background-color: #f8f8f8;
	padding: 10px;
	margin-bottom: 10px;
  border:1px solid #dadde5 !important;
  border-radius: 2px;
}

@media ( min-width: 768px) {
	.canvas {
		min-height: 85vh;
	}
}

@media (max-width: 767px) {
	.water-device {
		width: 100%;
		border: 1px solid #c5c8d5;
		margin: auto;
		min-height: 9vw;
		border-radius: 12%;
		line-height: 9vw;
	}
	.device {
		margin: auto;
		width: 14%;
		line-height: 5vw;
	}
	.device-name {
		margin-top: 10px;
		width: 50%;
		background-color: rgba(245, 245, 245, 0.5);
		border:1px solid #dadde5;
		border-radius: 2px;
		font-size: 15px;
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.water-device {
		border: 1px solid #c5c8d5;
		width: 100%;
		margin: auto;
		min-height: 3vw;
		border-radius: 12%;
		font-size: 17px;
		display: block;
		line-height: 3vw;
	}
	.device {
		margin: auto;
		width: 12%;
		line-height: 2vw;
	}
	.device-name {
		margin-top: 10px;
		width: 50%;
		background-color: rgba(245, 245, 245, 0.5);
		border: 1px solid #dadde5;
		border-radius: 2px;
		font-size: 19px;
		display: inline-block;
	}
}

// ********************************
// Device Focus
// ********************************

.tank-info {
	display: none;
	background-color: #f8f8fa;
	padding: 10px;
	border: 1px solid #dadde5;
	border-radius: 2px;
}

.tank-info-canvas {
	min-height: 110px;
}

.water-device-info {
	margin-top: 20px;
	background-color: #f8f8fa;
	padding: 10px;
	border:1px solid #dadde5;
	border-radius: 2px;
	display: none;
}

@media (min-width: 768px) {
	.tank {
	  margin: 30px auto;
	  height: 22vw;
		width: 85%;
	  position: relative;
	  border-style: solid solid solid solid;
	  border-width: 8px;
	  border-color: #c5c8d5;
	  border-radius: 5%;
		overflow: hidden;
	}

	.water {
	  width: 100%;
	  height: 0%;
	  background-color: #95dcef;
	  position: absolute;
	  bottom: 0;
		opacity: 0.7;
	}
	.device-canvas {
		display: none;
	  padding: 6%;
	}
}

@media (max-width: 767px) {
  .tank {
      margin: 30px auto;
      height:50vw;
			width: 85%;
      position: relative;
      border-style: solid solid solid solid;
      border-width: 8px;
      border-color: #c5c8d5;
			border-radius: 5%;
			overflow: hidden;
  }

  .water {
      width: 100%;
      height: 0%;
      background-color: #95dcef;
      position: absolute;
      bottom: 0;
  		opacity: 0.7;
  }
	.device-canvas {
		display: none;
	  padding: 10%;
	}
}

.devices-canvas, .graph-canvas {
	display: block;
  padding: 10%;
}

// ***************************
// Devices Colors
// ***************************

.full {
	background-color: #00e070;
	opacity: 0.8;
	color: #fff;
}

.full:hover {
	background-color: #00d070;
	cursor: pointer;
}

.full-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #2585f0;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.medium {
	background-color: #f0e050;
	opacity: 0.8;
	color: #fff;
}

.medium:hover {
	background-color: #e0d040;
	cursor: pointer;
}

.medium-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #f0ca30;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.low {
	background-color: #e02020;
	opacity: 0.8;
	color: #fff;
}

.low:hover {
	background-color: #d00000;
	cursor: pointer;
}

.low-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #e02020;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.empty {
	background-color: #fafafa;
	opacity: 0.7;
	color: #ea2020;
}

.empty:hover {
	background-color: #eaedf0;
	opacity: 0.7;
	cursor: pointer;
}

.empty-sub {
	box-shadow: 1px 0px 2px #888;
	height: 12px;
	width: 12px;
	background-color: #fafafa;
	border: 1px solid #889;
	opacity: 0.7;
	border-radius: 50%;
	display: inline-block;
}

.sub {
	text-align: left;
	margin-left: 10px;
	margin-top: 4px;
}

#graph-canvas {
	margin-top: 26px;
	width: 100%;
}

#loading {
	margin:60px;
	line-height: 60px;
	font-size: 20px;
}

#history {
	min-height: 80vh;
}
