// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-container {
  font-size: 120px;
  line-height: 90px;
  min-height: 260px;
  color: #c5c8d5;
  border:1px solid #dadde5 !important;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

@media (max-width: 412px) {
  .menu-label {
    font-size: 20% !important;
  }
  .menu-container {
    font-size: 700%;
  }
}

.index-container {
  font-size: 120px;
}

.full-screen-container {
  padding: 30px;
  color: #233a67;
  border: 1px solid #dadde5 !important;
  border-radius: 2px;
  background-color: #f8f8f8;
  min-height: -webkit-fill-available;
}

.solutions-container {
  color: #233a67;
  border:1px solid #dadde5 !important;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.solution-img-container {
  padding: 10%;
}
.solution-img {
  width: 100%;
  border:3px solid #dadde5 !important;
  border-radius: 50%;
}

.solution-description {
  text-align: center;
  padding: 0 24px 0 24px;
}

.solution-name {

}

.menu-container:hover {
  color: #233a67;
  text-decoration: none;
}

.menu-label {
  color: #233a67;
  font-size: 18px;
}

.index-label {
  color: #233a67;
  font-size: 18px;
  padding: 16px;
}

a:hover {
    text-decoration: none !important;
}

.default-container {
  padding: 30px;
  min-height: 260px;
  color: #233a67;
  border: 1px solid #dadde5 !important;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}
