.temperature, .luminosity, .atm-pressure, .humidity {
  font-size: 20px;
  padding: 10px;
  min-height: 200px;
}

.weather-label {
  font-size: 15px;
  font-weight: bold;
}

.temperature-data {
  position: relative;
  top: 8%;
  color: #3a3d50;
  text-shadow: 1px 1px 1px white;
  width: 100%;
  height: 100%;
}
.temperature-integer {
  display: inline-block;
  font-size: 3.1em;
}
.temperature-decimal {
  display: inline-block;
  font-size: 1em;
}
.temperature-metric {
  font-size: 0.9em;
}

.temp-container {
  position: relative;
  margin: auto;
  width: 160px;
  height: 160px;
}

.temp-rainbow {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 100%;
  position: relative;
  // box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);   //Skeumorphic
  background: #5bd5f6;
  border: 1px solid #889;
  -webkit-transition: background 3s linear;
  -moz-transition: background 3s linear;
  transition: background-color 2s linear;
}

.temp-circle-wrap {
  width: 92%;
  height: 92%;
  top: 4%;
  left: 4%;
  position: relative;
  border-radius: 100%;
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .45);
  // background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);  //Skeumorphic
  background: #d5d5d6;
}

.temp-circle {
  width: 88%;
  height: 88%;
  position: relative;
  top: 6%;
  left: 6%;
  border-radius: 100%;
  // background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);    //Skeumorphic
  background: #e2e6e5;
}

.water-drop {
  border: 1px solid #889;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 25px;
  -webkit-border-radius: 94% 0 70% 60% / 70% 0 94% 60%;
  border-radius: 94% 0 70% 60% / 70% 0 94% 60%;
  // -webkit-transform: rotateZ(-45deg);
  // transform: rotateZ(-45deg);
  position: relative;
}

.water-drop-fill {
  width: 100%;
  height: 0%;
  background-color: #95dcef;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}

.humidity-data {
  font-size: 100%;
  color: #eee;
  width: 100%;
  top: 34%;
  text-shadow: 1px 1px 1px #444;
  position: relative;
  // -webkit-transform: rotateZ(45deg)   ;
  // transform: rotateZ(45deg)   ;
}

.humidity-container {
  margin: auto;
  width: 85px;
  height: 85px;
}

.luminosity-container {
  margin: auto;
  width: 85px;
  height: 85px;
}

.atm-pressure-container {
  margin: auto;
  width: 100%;
  height: 85px;
}

.atm-data {
  font-size: 90%;
}

.barometer {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 2px solid #bbc;
  height: 20px;
  display: flex;
}

.marker1 {
  width: 1px;
  height: 10px;
  background: #bbc;
  margin: auto;
}
.marker2 {
  width: 1px;
  height: 15px;
  background: #bbc;
  margin: auto;
}

.sun {
  border: 1px solid #889;
  width: 70%;
  height: 70%;
  top: 25px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  background: rgba(240,255,210,1);
  -webkit-transition: background 2s linear;
  -moz-transition: background 2s linear;
  transition: background-color 2s linear;
}

.luminosity-data {
  font-size: 75%;
  color: rgba(255,255,255,1);
  width: 100%;
  top: 33%;
  text-shadow: 1px 1px 1px #444;
  position: relative;
}
