/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 body {
   color: #111;
   // background-color: #f8fdff;
   background-color: #E6E6E6;
   text-align: center;
   font-family: 'Futura', sans-serif;
 }
 
 .affix {
 	z-index: 4;
   top: 0;
   width: 100%;
 }

 .affix + .container-fluid {
   margin-top: 60px;
 }
 
 .brand_logo {
   height: 100%;
 }
 
 @media (min-width: 768px) {
   .group {
     margin-bottom: 50px !important;
   }
 }
 
 .logo {
   height: 200px;
   margin-bottom: 30px;
 }