// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-container {
  font-size: 120px;
  line-height: 90px;
  color: #bbb;
  height: 260px;
  border:1px solid #ddd !important;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #ccc;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

#register {
  height: 540px;
}


.menu-container:hover {
  color: #49d;
  text-decoration: none;
}

.menu-label {
  color: #49d;
  font-size: 18px;
}

a:hover {
    text-decoration: none !important;
}