<p>Olá, <%= @resource.name %>!</p>

<p>Recebemos uma solicitação para alterar sua senha. Por favor, acesse o link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_user_password_url(reset_password_token: @token) %></p>

<p>Se essa solicitação não foi feita, por favor ignore esta mensagem.</p>
<p>Sua senha não mudará enquanto não acessar o link acima e criar uma nova senha.</p>
